include _menu
doctype    transitional
html(xmlns='http://www.w3.org/1999/xhtml',    xml:lang='en',    lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport',    content='width=device-width,    initial-scale=1.0')
        title    Home
        meta(name='description',    content='')
        meta(name='keywords',    content='')
        link(rel='stylesheet',    href='../../static/css/main.css')
        //if    IE
            script(type='text/javascript',    src='js/ie-fix.js')
        link(href='../../static/css/bootstrap.css',    rel='stylesheet')
        //    HTML5    shim    and    Respond.js    IE8    support    of    HTML5    elements    and    media    queries
        //if    lt    IE    9
            script(src='js/html5shiv.js')
            script(src='js/respond.min.js')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700',    rel='stylesheet',    type='text/css')
    body
        +nav(user)
        .clear
        br
        br
        br
        br
        br
        br
        if success_msg && success_msg.length > 0
            each msg in success_msg
                div(class = "alert alert-success")|hello
        if error_msg && error_msg.length > 0
            each msg in error_msg
                div(class = "alert alert-danger")|hello
        if error && error.length > 0
            each msg in error
                div(class = "alert alert-danger")|hello
        block body

        .clearfix
        #footer
            .container
                ul.bottom-menu
                    li
                        a(href='/') Home
                    li
                        a(href='/latestads') Latest Ads
                    li
                        a(href='index.php?page=en_Email+Alerts') Email Alerts
                    li
                        a(href='index.php?page=en_Post+a+New+Ad') Post a New Ad
                    li
                        a(href='index.php?page=en_Modify+Your+Listing') Modify Your Listing
                    li
                        a(href='index.php?page=en_Browse+by+Location') Browse by Location
                    li
                        a(href='index.php?page=en_News') News
                    li
                        a(href='/contact') Contact
                hr
        script(type='text/javascript', src='http://apis.google.com/js/plusone.js')
        script(src='../../static/js/login.js')
        #main-login-form
            a(href='javascript:HideLogin()')
                img.close-login-icon(src='../../static/images/closeicon.png')
            h3.lfloat Login
            hr.clear
            script.
                function ValidateLoginForm(x)
                {
                if(x.Email.value==""){
                alert("Please enter your username!");
                x.Email.focus();
                return false;
                }
                else
                if(x.Password.value==""){
                alert("Please enter your password!!");
                x.Password.focus();
                return false;
                }
                return true;
                }
            form.no-margin(action='/auth/sign-in', method='post', onsubmit='return ValidateLoginForm(this)')
                table(border='0', cellspacing='1')
                    tr
                        td Username:
                        td
                            input.form-field(type='text', size='40', name='username')
                    tr
                        td Password:
                        td
                            input.form-field(size='40', type='password', name='password')
                    tr
                        td(colspan='2', align='right')
                            br
                            a.lfloat.margin-20(href='index.php?mod=forgotten_password') forgotten password?
                            input.ibutton.rfloat.margin-20(type='submit', value='Login')
            br
            //
                <h3>or Sign in</h3>
                <hr/>
                Sign in by using your Facebook
                or LinkedIn account.
                <br/><br/>
                <img alt="" src="images/facebook_connect.png"/>
                <img alt="" src="images/linkedin_connect.png"/>
            br
        script(src='../../static/js/jquery.js')
        script(src='../../static/js/bootstrap.js')
        script(type='../../static/text/javascript').
            if(document.getElementById("myCarousel"))
            {
            $(document).ready(function() {
            $('.carousel').carousel({
            interval: 6000
            })
            });
            }
