extends _shared/_nav

block body
    .container.text-left
        h3 Please contact us by using the form below
        form(action='/sendmail', method='post')
            br
            br
            table(prev='')
                tbody
                    tr
                        td(prevstyle=' ') Name: 
                        td(prevstyle=' ')
                            input(style='width:200px', name='subject', type='text')
                    tr
                        td(prevstyle=' ') Email: 
                        td(prevstyle=' ')
                            input(style='width:200px', name='email', type='text')
                    tr
                        td(prevstyle=' ') Message: 
                        td(prevstyle=' ')
                            textarea(name='message', style='width: 318px; height: 154px;', rows='5')
            br
            br
            br
            input(type='submit', value='Send')
