extends _shared/_nav

block body
  .container.text-left
        #myCarousel.carousel.slide
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                    img.img-shadow.indicator-image(src='static/pictures/classified/' + active.avatar)
                li(data-target='#myCarousel', data-slide-to='1')
                    img.img-shadow.indicator-image(src='static/pictures/classified/' + ads[0].avatar)
                li(data-target='#myCarousel', data-slide-to='2')
                    img.img-shadow.indicator-image(src='static/pictures/classified/' + ads[1].avatar)
                li(data-target='#myCarousel', data-slide-to='3')
                    img.img-shadow.indicator-image(src='static/pictures/classified/' + ads[2].avatar)
                li(data-target='#myCarousel', data-slide-to='4')
                    img.img-shadow.indicator-image(src='static/pictures/classified/' + ads[3].avatar)
            .carousel-inner
                .item.active.slide-back
                    .container
                        .carousel-caption
                            a.carousel-link(href='ad/' + active.id)
                                img.img-shadow(src='static/pictures/classified/' + active.avatar , height='200', alt='slider', align='right')
                                h1 #{active.title}
                                p
                                    | #{active.description}
                            br
                for ad in ads
                    .item.slide-back
                        .container
                            .carousel-caption
                                a.carousel-link(href='ad/' + ad.id)
                                    img.img-shadow(src='static/pictures/classified/' + ad.avatar, height='200', alt='slider', align='right')
                                    h1 #{ad.title}
                                    p
                                        | #{ad.description}
                                br
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
                img.carousel-icon(src='../../static/images/carousel-arrow-left.png')
            a.right.carousel-control(href='#myCarousel', data-slide='next')
                img.carousel-icon(src='../../static/images/carousel-arrow-right.png')
        h3 Browse by Category
        br
        br
        .clear
        .home-category(style='width:28.33%')
            a.category_link(href='index.php?mod=search&category=1&lang=en', title='Buy or Sell') Buy or Sell (3)
            
        .home-category(style='width:28.33%')
            a.category_link(href='index.php?mod=search&category=2&lang=en', title='Courses & Classes') Courses & Classes (0)
        .home-category(style='width:28.33%')
            a.category_link(href='index.php?mod=search&category=3&lang=en', title='Cars') Cars (0)
        .clear
        .home-category(style='width:28.33%')
            a.category_link(href='index.php?mod=search&category=4&lang=en', title='Properties') Properties (4)
        .home-category(style='width:28.33%')
            a.category_link(href='index.php?mod=search&category=5&lang=en', title='Services') Services (0)
        .home-category(style='width:28.33%')
            a.category_link(href='index.php?mod=search&category=6&lang=en', title='Jobs') Jobs (0)
        .clear
        .home-category(style='width:28.33%')
            a.category_link(href='index.php?mod=search&category=7&lang=en', title='Community') Community (0)
        .home-category(style='width:28.33%')
            a.category_link(href='index.php?mod=search&category=8&lang=en', title='Events') Events (0)
        .home-category(style='width:28.33%')
            a.category_link(href='index.php?mod=search&category=9&lang=en', title='Business Opportunities') Business Opportunities (0)
        .clear
        br