extends _shared/_nav

block body
  .container.text-left
        #myCarousel.carousel.slide
            ol.carousel-indicators
                if active
                    li.active(data-target='#myCarousel', data-slide-to='0')
                        img.img-shadow.indicator-image(src='static/pictures/classified/' + active.avatar)
                if ads && ads[0]
                    li(data-target='#myCarousel', data-slide-to='1')
                        img.img-shadow.indicator-image(src='static/pictures/classified/' + ads[0].avatar)
                if ads && ads[1]
                    li(data-target='#myCarousel', data-slide-to='2')
                        img.img-shadow.indicator-image(src='static/pictures/classified/' + ads[1].avatar)
                if ads && ads[2]
                    li(data-target='#myCarousel', data-slide-to='3')
                        img.img-shadow.indicator-image(src='static/pictures/classified/' + ads[2].avatar)
                if ads && ads[3]
                    li(data-target='#myCarousel', data-slide-to='4')
                        img.img-shadow.indicator-image(src='static/pictures/classified/' + ads[3].avatar)
            .carousel-inner
                .item.active.slide-back
                    .container
                        .carousel-caption
                            if active
                                a.carousel-link(href='ad/' + active.id)
                                    img.img-shadow(src='static/pictures/classified/' + active.avatar , height='200', alt='slider', align='right')
                                    h1 #{active.title}
                                    p
                                        | #{active.description}
                                br
                for ad in ads
                    .item.slide-back
                        .container
                            .carousel-caption
                                a.carousel-link(href='ad/' + ad.id)
                                    img.img-shadow(src='static/pictures/classified/' + ad.avatar, height='200', alt='slider', align='right')
                                    h1 #{ad.title}
                                    p
                                        | #{ad.description}
                                br
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
                img.carousel-icon(src='../../static/images/carousel-arrow-left.png')
            a.right.carousel-control(href='#myCarousel', data-slide='next')
                img.carousel-icon(src='../../static/images/carousel-arrow-right.png')
        h3 Browse by Category
        br
        br
        .clear
        .home-category(style='width:28.33%')
            a.category_link(href='all?category=1&page=1', title='Buy or Sell') Buy or Sell
            
        .home-category(style='width:28.33%')
            a.category_link(href='all?category=2&page=1', title='Courses & Classes') Courses and Classes
        .home-category(style='width:28.33%')
            a.category_link(href='all?category=3&page=1', title='Cars') Cars
        .clear
        .home-category(style='width:28.33%')
            a.category_link(href='all?category=4&page=1', title='Properties') Properties
        .home-category(style='width:28.33%')
            a.category_link(href='all?category=5&page=1', title='Services') Services
        .home-category(style='width:28.33%')
            a.category_link(href='all?category=6&page=1', title='Jobs') Jobs
        .clear
        .home-category(style='width:28.33%')
            a.category_link(href='all?category=7&page=1', title='Community') Community
        .home-category(style='width:28.33%')
            a.category_link(href='all?category=8&page=1', title='Events') Events
        .home-category(style='width:28.33%')
            a.category_link(href='all?category=9&page=1', title='Business Opportunities') Business Opportunities
        .clear
        br