extends _shared/_nav

block body
    .container.text-left
        h3 Latest ads posted on our website
        each ad in ads
            br
            .featured_listing
                .result-image
                    img(src='static/pictures/classified/' + ad.avatar , width='100', alt='')
                .result-text
                    a(href='ad/' + ad.id)
                        span.featured_listing_title #{ad.title}
                    .listing_description
                        | #{ad.description}
                    .clear
                    span.listing_posted_date Posted on #{ad.date}
                .clear