extends _shared/_nav

block body

    .container.text-left
        h2
            | Post a new ad on the website
        br
        form#main(onsubmit='return gSubmitForm(this)', action='postnewads', method='post', enctype='multipart/form-data')
            fieldset
                legend Please enter the ad details
                ol
                    li
                        .div_label
                            | Category(*)
                        .div_field
                            select#link_category_menu(name='link_category_menu', required='')
                                option(value='Buy or Sell') Buy or Sell
                                option(value='Courses and Classes') Courses and Classes
                                option(value='Cars') Cars
                                option(value='Properties') Properties
                                option(value='Services') Services
                                option(value='Jobs') Jobs
                                option(value='Community') Community
                                option(value='Events') Events
                                option(value='Business Opportunities') Business Opportunities

                            script(type='text/javascript', src='/static/include/multi_category_select.js')
                            input#link_category(type='hidden', name='link_category', value='')
                            script(type='text/javascript').
                                var m_all="Please Select";
                                category_transform_select("link_category_menu","240px","220px");
                        .clear
                        .clear
                    li
                        label(for='title') Headline(*)
                        input#title(name='title', type='text', placeholder='Please enter the ad title', required='', autofocus='')
                    li
                        label(for='description')
                            | Description(*)
                            br
                        textarea#description(name='description', rows='10')  
                        br
                        span.sub-text(style='position:relative;left:120px') 800 characters maximum
                    li
                        label(for='price') Price
                        input#price(name='price', type='text')
                ol#additional-fields
                    li
                        .div_label
                            | Location					
                            br
                            a(href='javascript:AddMap()') Add Map
                        .div_field
                            select#location_menu(name='location_menu')
                                option(value='Alabama')  Alabama
                                option(value='Alaska')  Alaska
                                option(value='Arizona')  Arizona
                                option(value='Arkansas')  Arkansas
                                option(value='California')  California
                                option(value='Colorado')  Colorado
                                option(value='Connecticut')  Connecticut
                                option(value='Delaware')  Delaware
                                option(value='District of Columbia')  District of Columbia
                                option(value='Florida') Florida
                                option(value='Georgia') Georgia
                                option(value='Hawaii') Hawaii
                                option(value='Idaho') Idaho
                                option(value='Illinois') Illinois
                                option(value='Indiana') Indiana
                                option(value='Iowa') Iowa
                                option(value='Kansas') Kansas
                                option(value='Kentucky') Kentucky
                                option(value='Louisiana') Louisiana
                                option(value='Maine') Maine
                                option(value='Maryland') Maryland
                                option(value='Massachusetts') Massachusetts
                                option(value='Michigan') Michigan
                                option(value='Minnesota') Minnesota
                                option(value='Mississippi') Mississippi
                                option(value='Missouri') Missouri
                                option(value='Montana') Montana
                                option(value='Nebraska') Nebraska
                                option(value='Nevada') Nevada
                                option(value='New Hampshire') New Hampshire
                                option(value='New Jersey') New Jersey
                                option(value='New Mexico') New Mexico
                                option(value='New York') New York
                                option(value='North Carolina') North Carolina
                                option(value='North Dakota') North Dakota
                                option(value='Ohio') Ohio
                                option(value='Oklahoma') Oklahoma
                                option(value='Oregon') Oregon
                                option(value='Pennsylvania') Pennsylvania
                                option(value='Rhode Island') Rhode Island
                                option(value='South Carolina') South Carolina
                                option(value='South Dakota') South Dakota
                                option(value='Tennessee') Tennessee
                                option(value='Texas') Texas
                                option(value='Utah') Utah
                                option(value='Vermont') Vermont
                                option(value='Virginia') Virginia
                                option(value='Washington') Washington
                                option(value='West Virginia') West Virginia
                                option(value='Wisconsin') Wisconsin
                                option(value='Wyoming') Wyoming
                            script(type='text/javascript', src='/static/js/map.js')
                            script(type='text/javascript', src='/static/include/multi_location_select.js')
                            input#location(type='hidden', name='location', value='')
                            script(type='text/javascript').
                                transform_select("location_menu","200px","200px");
                        .clear
                    li#add-map(style='display:none')
                        .div_label
                            | Address
                        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDfC5X1qhmU-V6X5WUhfCyF7-UIWgZO4m4&sensor=false&libraries=places,drawing')
                        .div_field
                            input#address(name='address', value='', onkeyup='javascript:UserKeyUp()', type='text', placeholder='Please enter the address')
                        br
                        | 				or enter 
                        | 				Latitude:
                        input#latitude(type='text', name='latitude', style='width:60px', value='')
                        span(style='font-size:10px') e.g. 40.758224
                        | 				Longitude:
                        input#longitude(type='text', name='longitude', style='width:60px', value='')
                        span(style='font-size:10px') e.g. -73.917404
                        br
                        span#preview-map(style='display:none')
                            a(href='javascript:PreviewMap()') Preview and Save the Map
                        .clear
                        #map-canvas(style='width: 500px; height: 300px;display:none')
            fieldset
                legend Choose a pricing plan
                ol#ad-packages
                    #packages-0
                        li(style='line-height:1.0em')
                            br
                            input.form-radio(name='package', value='2', checked='', onclick='javascript:ChangeImages(2)', type='radio')
                            b Free
                            br
                            br
                            | 				Price: 
                            b
                                | FREE!
                            | 									,    
                            | 					Ad expire time (days): 
                            b 90
                            | 					,    
                            | 					Allowed images: 
                            b
                                b 5
                                br
                                br
                            span.sub-text
                                | Sample package description comes here
                            br
                            br
            fieldset#images_fieldset
                legend Images
                ol
                    li
                        input.form-control.input-sm(type='file', name='avatar', accept='.jpg,.jpeg,.png')
                        span.sub-text
            fieldset
                legend Contact Information
                ol
                    li
                        label(for='user_type') I am
                        select#user_type(name='user_type')
                            option(value='1') Individual
                            option(value='2') Business
                    li
                        label(for='name') Your Name(*)
                        input#name(name='name', placeholder='', type='text', required='')
                    li
                        label(for='email') Your Email(*)
                        input#email(name='email', placeholder='example@domain.com', type='email', required='')
                        br
                        span.sub-text Your email address won't be published on the website.
                    li
                        label(for='phone') Your Phone
                        input#phone(name='phone', placeholder='', type='text')
            | 	(*) required fields	
            fieldset
                button(type='submit') Submit
        //if !IE
            script.
                document.getElementById('title').setCustomValidity('Please enter the ad title');
                document.getElementById('url').setCustomValidity('Please enter the URL!');
                document.getElementById('category').setCustomValidity('Please select a category!');
                document.getElementById('name').setCustomValidity('Please enter your name!');
                document.getElementById('email').setCustomValidity('Please enter your email address!');
